/*TYPOGRAPHY
===============================================*/
@font-face {
    font-family: 'cocogooseregular';
    src: url('fonts/cocogoose/cocogoose_trial-webfont.eot');
    src: url('fonts/cocogoose/cocogoose_trial-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/cocogoose/cocogoose_trial-webfont.woff2') format('woff2'),
         url('fonts/cocogoose/cocogoose_trial-webfont.woff') format('woff'),
         url('fonts/cocogoose/cocogoose_trial-webfont.ttf') format('truetype'),
         url('fonts/cocogoose/cocogoose_trial-webfont.svg#cocogooseregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
